@CHARSET "UTF-8";

/* 로그인 & 회원가입 관련 CSS 띄움 */
.openLoginStyle {
	display: none;
	/* position: absolute; */
	top: 25%;
	left: 25%;
	width: 60%;
	height: 60%;
	padding: 16px;
	border: 16px solid black;
	background-color: #f5f5f0;
	z-index: 1002;
	overflow: auto;
}

/* 로그인 & 회원가입 관련 CSS 닫음 */
.LoginOverlayStyle {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

/*login창 닫기(X버튼) */
.loginClose {
	font-size: 15px;
	text-align: right;
	cursor: pointer;
}

/*LOGIN 버튼 DIV*/
.loginDiv {
	height: 1024px;
	width: 250px;
	float: left;
	text-align: right;
	font-size: 20pt;
	font-weight: bolder;
	color: black;
	margin-top: 10px;
}



.SLorWL {
	height: 30px;
	width: 394px;
	text-align: center;
	font-size: 16px;
	color: blue;
	margin-top: 7px;
}