@CHARSET "UTF-8";


/* html화면에 공백 추가 */
.frameBlank {
	padding-top: 50px;
}
.frameBlank2 {
	padding-top: 75px;
}

/* 회원 관련 버튼 설정  */
.frameButtons {
	height: 28px;
	width: 130px;
}

/* 회원관련 버튼 설정 2 */
.FrameButtonsCenter{
	padding-left: 300px;
}

/* 회원 태이블 설정*/
/* 각각의 컬럼명을 보여주는 Div */ 
.listDiv {
	width: 150px;
	height:25px;
	float: left;
	color: black;
	font-size: 13pt;
	padding-top: 5px;
}

.listDiv2 {
	width: 150px;
	height: 50px;
	float: left;
	color: black;
	font-size: 13pt;
	padding-top: 30px;
}
/*방 등록 안내문*/
.listDiv3 {
	width: 350px;
	height:30px;
	float: left;
	color: blue;
	font-size: 11pt;
	font-style: oblique;
	padding-top: 4px;
	text-align: right;
	vertical-align: middle;
}
/*방 등록 checkBox*/
.listDiv4 {
	width: 180px;
	height:30px;
	float: left;
	color: black;
	font-size: 11pt;
	padding-top: 4px;
	text-align: right;
	vertical-align: middle;
}
/* input 입력란 Div */
.inputDiv {
	width: 400px;
	height: 25px;
	float: left;
}
.inputDiv2 {
	width: 400px;
	height: 40px;
	float: left;
}
/*각 행(한 줄)을 입력하는 구분 Div*/
.rowDiv {
	height: 35px;
	margin-left: 250px;
}
.rowDiv2 {
	height: 70px;
	margin-left: 250px;
}

/* input 스타일 지정 1 */ 
.inputStyle1{
	width: 380px;
	height: 20px;
	letter-spacing: 1px;
	font-size: 12pt;
	margin-left: 5px;
}

/* input 스타일 지정 2 */ 
.inputStyle2 {
	letter-spacing: 2px;
	font-size: 12pt;
	text-align: center;
	margin-left: 5px;
	width: 95px;
}
.inputStyle3 {
	letter-spacing: 2px;
	font-size: 12pt;
	text-align: center;
	margin-left: 5px;
	width: 110px;
}

/*국가전화번호 선택 select*/
.selectCountryNum {
	width: 200px;
	margin-left: 5px;
	text-align: center;
}

/* 에러메세지 스타일 지정 */
.errMsgDiv {
	font-size: 11pt;
	color: red;
	margin-left: 410px;
	height: 30px;
}
