@CHARSET "UTF-8";

/* 로그인 & 회원가입 관련 CSS 띄움 */
.openLoginStyle {
	display: none;
	position: absolute;
	top: 25%;
	left: 50%;
	width: 40%;
	height: 40%;
	padding: 10px;
	border: 16px solid black;
	background-color: #f5f5f0;
	z-index: 1002;
	overflow: auto;
}

/* 로그인 & 회원가입 관련 CSS의 바깥족 overlayStyle */
.LoginOverlayStyle {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

/*login창 닫기(X버튼) */
.loginClose {
	font-size: 15px;
	text-align: right;
	cursor: pointer;
}

/*login_socialDiv*/
.socialDiv {
	height: 30px;
	width: 394px;
	background-color: white;
	margin: 0 auto;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: 
}
/*login_socialImg*/
.socialImg {
	height: 30px;
	width: 30px; 
	background-size: 30px 30px;
	margin: 0 auto;
}
/*login_inputTextDiv*/
.inputTextDiv {
	height: 40px;
	width: 394px;
	margin: 0 auto;
}

/*login_inputText*/
.inputText {
	margin: 0 auto;
	width: 380px;
	font-size: 16pt;
	color: black;
}

/*login_errDiv*/
.errDiv {
	height: 20px;
	width: 394px;
	margin: 0 auto;
	color: red;
}
/*LOGIN 버튼 DIV*/
.loginDiv {
	height: 35px;
	width: 250px;
	float: left;
	text-align: right;
	font-size: 20pt;
	font-weight: bolder;
	color: black;
	margin-top: 10px;
}

/*Search 버튼 Div*/
.searchDiv {
	width: 144px;
	text-align: right;
	color: black;
	float: right;
}

/*회원가입 버튼 Div*/
.joinDiv {
	height: 30px;
	width: 394px;
	text-align: center;
	font-size: 15pt;
	font-weight: bolder;
	color: black;
}

.SLorWL {
	height: 30px;
	width: 394px;
	text-align: center;
	font-size: 16px;
	color: blue;
	margin-top: 7px;
}

/*검색창의 placeHolder CSS*/
.searchPlaceHolder::-webkit-input-placeholder {
   color: white;
   font-size: 15px;
}