@CHARSET "UTF-8";

/* 회원가입시 정보를 보여주는 mainInfo Div */
.mainInfoDiv {
	height: 1070px;
	width: 90%;
	margin-left: 5%;
	border: 1px solid;
}

/* 한 줄 공백*/
.blankDiv {
	height: 30px;
}

/* 윗부분, 왼쪽의 ID, 이름의  Div*/
.topLeftDiv {
	height: 180px;
	width: 60%;
	float: left;
}

/* 윗부분, 오른족의 호스트 등록을 묻는 Div */
.topRightDiv {
	height: 180px;
	width: 40%;
	float: right;
}

/* topLeftDiv 의 한 줄*/
.cellDivSmall {
	height: 75px;
	width: 100%;
}

/* cellDivSmall 중 항목 이름을 나타내는 Div*/
.cellNameDivSmall {
	height: 33px;
	width: 50%;
	float: left;
	text-align: center;
	padding-top: 7px;
	font-size: 15pt;
	color: black;
}

/* cellDivSmall 중 항목 입력사항을 나타내는 Div*/
.cellTypeDivSmall {
	height: 40px;
	float: left;
}

/*호스팅 Span*/
.hostingSpan {
	height: 30px;
	text-align: center;
	padding-top: 10px;
}

/* 호스팅 안내 Span */
.hostingIntroSpan {
	font-size: 12pt;
	font-style: italic;
	color: blue;
}

/* 호스팅 체크 Span*/
.hostingCheckSpan {
	padding-left: 50px;
	font-size: 10pt;
	color: black;
}

/* 힝목 Div 의 한 줄*/
.cellDiv {
	height: 75px;
	width: 100%;
}

/* 전화번호용 힝목 Div 의 한 줄*/
.cellDiv2 {
	height: 110px;
	width: 100%;
}

/* cellDiv 중 항목 이름을 나타내는 Div*/
.cellNameDiv {
	height: 33px;
	width: 30%;
	float: left;
	text-align: center;
	padding-top: 7px;
	font-size: 15pt;
	color: black;
}

/* cellDiv 중 항목 입력사항을 나타내는 Div*/
.cellTypeDiv {
	height: 40px;
	float: left;
}
/* 전화번호용 cellDiv2 중 항목 입력사항을 나타내는 Div*/
.cellTypeDiv2 {
	height: 80px;
	float: left;
}

/* 아래쪽 추가 입력사항 Div*/
.cellTypeDiv3 {
	height: 40px;
	float: left;
	font-size: 12pt;
	color: black;
	margin-top: 10px;
}

/* 전화번호 부분 Div*/
.selectCountryNum {
	width: 200px;
	text-align: center;
}

.phoneDiv {
	letter-spacing: 2px;
	font-size: 12pt;
	text-align: center;
	width: 126px;
}

/* Error 메세지 출력용 Div*/
.errMsg {
	height: 30px;
	color: red;
	float: left;
	font-size: 9pt;
}

/* 하단 분리  Div 이름*/
.lowInfo {
	height: 30px;
	font-size: 16pt;
	color: black;
	text-align: center;
	font-style: oblique;
} 

/* 하단 분리 Div 의 소개*/
.lowIntro {
	height: 30px;
	color: black;
	text-align: right;
	margin-right: 30px;
}

/* 하단의 radio 스타일 */
.attractRadio {
	height: 15px;
	width: 15px;
}