@CHARSET "UTF-8";

/* 파노라마 CSS 띄움 */
.openPanoStyle {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 60%;
	height: 60%;
	padding: 10px;
	border: 16px solid black;
	background-color: #f5f5f0;
	z-index: 20000;
	overflow: auto;
}

/* 파노라마 Overlay css 띄움 */
.panoOverlayStyle {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

/*login창 닫기(X버튼) */
.xClose {
	font-size: 15px;
	text-align: right;
	cursor: pointer;
}
